table {
  width: 640px;
  border-collapse: collapse;
  margin-left: 20%;
  color: white;
}

th, td {
  border: 1px solid white;
  padding: 10px;

}
/* remove outer boarder */
th {
  border-top: none;
}

th:first-child {
  border-left: none;
}

th:last-child {
  border-right: none;
}

tr:last-child td {
  border-bottom: none;
}

tr > td:first-child {
  border-left: none;
}

tr > td:last-child {
  border-right: none;
}
/* app */
.App {
  text-align: left;
  /* The code that you need to copy */
position: absolute;
left: 0px;
right: 0px;
top: 0px;
}
.allinone{
  margin: 5%
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.graph4{
  font-size:0.75rem;
  color:white;
  fill: white;

}
.graph4 rect {
  fill: tale;
}

}

p.Intro{
  text-align:left;
  margin-left: 20%;
  margin-right: 20%;
  border: dotted 2px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.graph6 svg {
  width: 200px;
  border-radius: 50%;
  background: #3f51b5;
  transform: rotate(-90deg);
}
.graph6 svg text {
  transform: rotate(90deg);
  font-size:5px;
}
.graph6 circle {
  fill: none;
  stroke-width: 250;
  r: 100;
  cx: 250;
  cy: 250;
}

.graph6 circle.first {
  stroke: #00bcd4;

}
.graph6 circle.second {
  stroke: #ffeb3b;
}
