#chart {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}
body {
  font-family: sans-serif;
  text-align: left;

}
h1{
  color: white;
  text-align: center;
}
p{
  color: white
}
div{
    text-align: left;
}
.graph{
  margin-left:10%;
  margin-right:10%
}
.App {
  background-color: #000000cc;
  border: 1px solid white;
  display: inline-block;
  font-family: sans-serif;
  text-align: left;
}
.legendContainer {
  display: flex;
  justify-content: center;
  margin-right: 20%;
}
.checkbox {
  margin: 10px;
}
html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.wrap {
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%

}
.detail {
  position: absolute;
  pointer-events: none;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid grey;
  transform: translate(10px, 10px);
}
.red {
  color:red;
  opacity: 80%;
}
.comment {
  color:pink;
  opacity: 80%;
}
path.country:hover {
  stroke: #0059b3;
  stroke-width: 2px;
}

path:focus {
  outline: none;
}
